* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #0099cc;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    color: #2C3E50;
}

#root {
    min-height: 100vh;
}

